.data-container-friend {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

.perfil-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.perfil-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nome {
  font-weight: bold;
  font-size: 1.1rem;
}

.acoes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.data-solicitacao {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-align: right;
}

.botoes {
  display: flex;
  gap: 8px;
}

.btn-aceitar,
.btn-recusar,
.btn-remover {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-aceitar {
  background-color: #4CAF50;
  color: white;
}

.btn-recusar {
  background-color: #f44336;
  color: white;
}
.btn-remover{
  background-color: #f44336;
  color: white;
}

.toggle-solicitacoes h2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  padding: 0.5%;
  margin-left: 1%;
  margin-bottom: 1%;
}
