<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Login e Cadastro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Style_Login.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>




</head>
<body>
  <div class="container">
    <div id="form-container">
      <form id="login-form" class="active">
        <h2>Login</h2>
        <label for="email">Email:<p id="login-msg" style="color: red; font-size: 14px; display: none;"></p></label>
        <input type="email" id="email" name="email" placeholder="Email">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" placeholder="Senha" >
        <button id="btnLogin" type="button">Entrar</button>
        <div class="links">
            <span id="cadastre-se">Cadastre-se</span>
            <span id="esqueceu-senha">Esqueceu a senha?</span>
        </div>
      </form>
    
    
      <form id="cadastro-form">
        <h2>Cadastro</h2>
        <!-- Campo Nome e Sobrenome lado a lado -->
        <p id="erro-nome" style="color: red; font-size: 14px; display: none;"></p>
        <div class="input-row"> 
          <div class="input-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="name" placeholder="Nome" maxlength="50">
          </div>
          
          <div class="input-group">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" maxlength="49">
          </div>
        </div>
      
       <!-- Campo Data e CEP lado a lado -->
        <div class="input-row">
          <div class="input-group">
            <label for="data">Data de nascimento: <p id="erro-data" style="color: red; font-size: 14px; display: none;"></p></label>
            <input type="text" id="data" readonly name="birth_date" placeholder="  /  /    ">
          </div>
          
          <div class="input-group">
            <label for="cep">Endereço (CEP): <p id="erro-cep" style="color: red; font-size: 14px; display: none;"></p></label>
            <input type="text" id="cep" name="address" placeholder="00000-000" maxlength="9">
          </div>
        </div>
        <!-- Mensagem de erro fora da linha -->
        
      
        <div class="input-group">
          <label for="email-cadastro">Email:
            <p id="erro-email" style="color: red; font-size: 14px; display: none;"></p>
            <p id="erro-cadastro" style="display: none;"></p>
          </label>
          <input type="email" id="email-cadastro" name="email" placeholder="Email" required>
        </div>
      
        <div class="input-group">
          <label for="ddi">Telefone:<p id="erro-telefone" style="color: red; font-size: 14px; display: none;"></p></label>
          <div class="input-container">
            <select id="ddi" name="ddi">
              <option value="+55">Brasil (+55)</option>
              <option value="+1">Estados Unidos (+1)</option>
              <option value="+44">Reino Unido (+44)</option>
              <option value="+34">Espanha (+34)</option>
              <option value="+91">Índia (+91)</option>
            </select>
            <input type="tel" id="telefone" name="phone" placeholder="(00)00000-0000">
          </div>
        </div>
      
        <div class="input-group">
          <label for="senha">Senha:(Mín. 4 dígitos)</label>
          <p id="erro-senha" style="color: red; font-size: 14px; display: none;"></p>
          <input type="password" id="senha" name="password" placeholder="Senha">
        </div>
      
        <div class="input-group">
          <label for="confirmacao_senha">Confirmação de senha:
            <p id="erro-confirmacao-senha" style="color: red; font-size: 14px; display: none;"></p>
          </label>
          <input type="password" id="confirmacao_senha" name="confirm_password" placeholder="Confirme sua senha">
        </div>
      
        <button type="button" id="btnCadastrar">Cadastrar</button>
      </form>
      
      
      
    </div>    
  </div>
  <script src="{{ url_for('static', filename='Scripts/Script_Cadastro.js') }}"></script>
  <script>
    window.onload = function() {
      sessionStorage.clear();  // limpa qualquer dado ainda salvo
      localStorage.clear();
  
      // Remove o histórico anterior
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.pushState(null, null, location.href);
      };
    };
  </script>
</body>
</html>
